.menu1Checked {
  color: #333333;
  background: #ffcc00;
}
.menu1Default {
  color: #ffcc00;
  background-color: #333333;
}
.menu1Common {
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
}
.menu2Checked {
  border-bottom: 1px solid #dedede;
}
html {
  width: 100%;
  height: 100%;
  user-select: none;
  min-width: 300px;
}
html body {
  background: #333333;
  width: 100%;
  height: 100%;
  color: #c8c9ca;
}
html body header {
  background: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 5px solid #ffcc00;
}
html body header .container .level-1-menu .sendOrder {
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
}
html body header .container .level-1-menu .storeStatus {
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
}
html body header .container .level-1-menu .saleOrder {
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
}
html body header .container .level-2-menu {
  margin-top: 10px;
  color: #ffcc00;
  font-weight: 700;
  text-align: center;
}
html body .sectionHeader {
  background-color: #333;
}
html body .sectionHeader .search .inputBox {
  background-color: #dddddd;
  border-radius: 5px;
}
html body .sectionHeader .search .inputBox input {
  width: 90%;
  border: none;
  outline: none;
  background-color: #dddddd;
  color: #222;
}
html body .sectionHeader .search .inputBox img {
  width: 5%;
}
html body .sectionHeader .title {
  background-color: #555;
  color: #dddddd;
  padding: 5px 0;
}
html body .sectionBody {
  position: relative;
}
html body .sectionBody img {
  height: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
html body .sectionBody .value {
  border-top: 1px solid #dddddd;
  padding: 10px 0;
}
html body .sectionBody .value:hover {
  background: #666;
  color: #222;
  font-weight: bold;
}
html body .sectionBody .baseInfo {
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
}
html body .sectionBody .baseInfo .left {
  border-right: 2px solid #666;
  height: 350px;
}
html body .sectionBody .baseInfo .left .order-status-title {
  padding: 10px 15px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 18px;
  color: #ffcc00;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #666;
}
html body .sectionBody .baseInfo .left .order-status {
  margin-top: 10px;
  padding: 10px 0;
}
html body .sectionBody .baseInfo .left .order-status .col-lg-2 {
  text-align: center;
}
html body .sectionBody .baseInfo .left .order-status .col-lg-10 {
  color: #222;
}
html body .sectionBody .baseInfo .left .orderTime {
  margin-top: 10px;
  padding: 10px 0;
}
html body .sectionBody .baseInfo .left .orderTime .col-lg-2 {
  text-align: center;
}
html body .sectionBody .baseInfo .left .orderTime .col-lg-10 {
  color: #222;
}
html body .sectionBody .baseInfo .right {
  height: 350px;
}
html body .sectionBody .baseInfo .right .tireClass {
  height: 300px;
  overflow: auto;
  position: relative;
}
html body .sectionBody .baseInfo .right .sum {
  border-top: 1px solid #666;
  border-right: 1px solid #666;
}
html body .sectionBody .baseInfo .right .sum div {
  height: 50px;
  line-height: 50px;
  color: #ffcc00;
}
html body .sectionBody .remark .inp-text {
  display: inline-block;
  width: 100%;
  height: 125px;
  background: #dddddd;
  color: #222;
}
html body .sectionBody .remark .submit {
  background: #ffcc00;
  color: #333;
  border-radius: 10px;
  font-size: 18px;
  width: 120px;
  height: 30px;
  margin-top: 80px;
  text-align: center;
  line-height: 30px;
}
html body .sectionBody .remark .submit:hover {
  color: #ffcc00;
  background: #333;
  font-weight: bold;
}
html body footer {
  background-color: #333;
  color: #dddddd;
  text-align: center;
  border-top: 1px solid #555;
}
